@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}



body {
    font-family: 'Montserrat', sans-serif;

}

/* Category Ads */

#ads {
    margin: 30px 0 30px 0;
   
}



#ads .card-detail-badge {      
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;        
    }
#ads .card-detail-badge{
    margin-top: 2px;
}
   

#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgb(29,185,84,0.5);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay span {
            display: inline-block;              
        }


#ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;        
        position: relative;
        background-color: #e6de08;
    }

#ads .ad-btn:hover {
            background-color: #e6de08;
            color: #1e1717;
            border: 2px solid #e6de08;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }

.hide{
    display: none;
}

@media only screen and (min-width: 768px) {
    #mobileView {
      display: none;
    }
  }

  .spinner-border{
    margin: 0px auto!important;
    display: block!important;
  }
  nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
      
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #1DB954 ;
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #1DB954;
      border-bottom:5px solid #1DB954;
      padding:30px 25px;
  }
  
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus,
  nav > div a.active
  {
    border: none;
      background: #1DB954!important;
      color:#fff!important;
      border-radius:0!important;
      transition:background 0.20s linear;
      
  }

  .btn-success{
    background-color: #1DB954!important;
    color: #1e1717;

  }

  .btn-success:hover{
    color: #1e1717;
    background-color: rgb(1, 155, 55)!important;
  }

  .form-control-lg{
    padding: auto 0x!important;
  }

  #navigation a.active,.navbar-brand{
    color:rgb(44, 207, 101)!important ;
  }
  #navigation a{
    color:rgb(1, 155, 55)!important ;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    /* border: 3px solid green;  */
  }
  @media (max-width: 767px) {
    .nav-tabs.nav-justified > div {
      float: left;
      width: 50%;
    }
  }

  .card.rounded{
    border: 3px solid #1DB954 ;
  }

  .img-fluid{
  width: 333.33px;
  }